.logo {
    margin-left: 1rem;
    margin-right: 0;
    width: 25%;
    height: 25%;
  }
  
  @media (min-width: 600px) {
    .logo {
      width: 20%;
      height: 20%;
    }
  }
  
  @media (min-width: 960px) {
    .logo {
      width: 15%;
      height: 15%;
    }
  }
  
  @media (min-width: 1280px) {
    .logo {
      width: 10%;
      height: 10%;
    }
  }
  